* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: darkgrey;
}

h1 {
  text-align: center;
}

#grid {
  height: 440px;
  width: 440px;
  margin: 30px auto 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  width: 100%;
  height: calc(440px / 16);
}

.block {
  opacity: 1;
  border: 2px solid darkblue;
  width: calc(100% / 16);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
